services:
  train:
    build:
      context: .
      dockerfile: dockerfiles/train.dockerfile
    shm_size: '2gb'
    env_file: .env
    volumes:
      - ./data:/app/data
      - ./models:/app/models
    command: ["--epochs", "10", "--batch-size", "32", "--lr", "0.001"]
