services:
  train-local:
    build:
      context: .
      dockerfile: dockerfiles/train.dockerfile
    shm_size: '2gb'
    env_file: .env
    environment:
      - MODE=local
    volumes:
      - ./data:/app/data
      - ./models:/app/models
    command: ["hyper_parameters=param_1"]

  train-sweep:
    build:
      context: .
      dockerfile: dockerfiles/train.dockerfile
    shm_size: '2gb'
    env_file: .env
    environment:
      - MODE=local
    volumes:
      - ./data:/app/data
      - ./models:/app/models
      - ./outputs:/app/outputs
    command: ["--multirun", "+sweep=basic"]

  train-cloud:
    build:
      context: .
      dockerfile: dockerfiles/train.dockerfile
    shm_size: '2gb'
    env_file: .env
    environment:
      - MODE=cloud
    command: ["hyper_parameters=param_1"]

  api-local:
    build:
      context: .
      dockerfile: dockerfiles/api.dockerfile
    env_file: .env
    environment:
      - MODE=local
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models

  api-cloud:
    build:
      context: .
      dockerfile: dockerfiles/api.dockerfile
    env_file: .env
    environment:
      - MODE=cloud
    ports:
      - "8000:8000"
