name: DVC Workflow

on:
  workflow_dispatch:
  pull_request:
    branches:
    - main
    paths:
    - '**/*.dvc'
    - '.dvc/**'

jobs:
  run_data_checker:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up UV
      uses: astral-sh/setup-uv@v7

    - name: Install dev dependencies
      run: uv sync --group dev

    - name: Pull data
      run: |
        dvc pull --no-run-cache

    - name: Check data statistics & generate report
      run: |
        uv run python src/drone_detector_mlops/data/stats.py --markdown > data_statistics.md
        echo '## Sample Images' >> data_statistics.md
        echo '![](./reports/figures/sample_images.png "Sample images")' >> data_statistics.md
        echo '' >> data_statistics.md
        echo '## Label Distribution' >> data_statistics.md
        echo '![](./reports/figures/all_splits_distribution.png "Label distribution across splits")' >> data_statistics.md

    - name: Setup CML
      uses: iterative/setup-cml@v2

    - name: Comment on PR
      env:
        REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        cml comment create data_statistics.md --watermark-title="Data Checker"
